
@{
    ViewData["Title"] = "AddBook";
}

<h1>Добавление книги</h1>
<html>
<body>
    <div>
        <form method="post" action="">
            <table>
                <tr>
                    <td><p>Введитe код книги </p></td>
                    <td><input type="text" name="КодКниги" /> </td>
                </tr>
                <tr>
                    <td><p>Введите название книги </p></td>
                    <td><input type="text" name="НазваниеКниги" /></td>
                </tr>
                <tr>
                    <td><p>Введите год написания </p></td>
                    <td><input type="text" name="Год" /></td>
                </tr>
                <tr>
                    <td><p>Введите ФИО автора </p></td>
                    <td><input type="text" name="ФиоАвтора" /></td>
                </tr>
                <tr><td><input type="submit" value="Добавить" /> </td><td></td></tr>
            </table>
            <h4>@ViewData["Message"]</h4>
        </form>
    </div>
</body>
</html>
